
.solid{
    width: 400px;
    height: 400px;
    background: linear-gradient(rgba(200,50,200,.4),rgba(20,200,200,.4),rgba(200,20,20,.4));
    padding-top: 30px;
    
    border: 5px solid rgba(200,00,00,.9);
    border-radius: 5px 5px;
    

}
#li
{
   width: 200px;
   height: 20px;
}
#add
{
    width: 50px;
    height: 25px;
    background-color: rgba(20,200,30,6);
    margin-left: 10px;
    border-radius: 3px 3px;


}
#add:hover{
    color: #ffffff;
    background-color: rgba(20,200,200,.9);
}
h1{
    text-align: center;
    margin-top: 0px;
    text-shadow: 2px 1px yellow;
    }

.sol{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}
#defence
{
    
    display: grid;
    grid-template-columns:0.7fr 0.1fr;
    align-items: center;
}
